*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
}
.navigations{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0vw 6vw;
    background-color: #ffffff68;
    border-bottom: 0.1px solid #00000014;
    margin-bottom: 2px;
}
.light-logo{
    display: none;
}
.nav2{
    height: 100%;
}
.nav2 ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2.5rem;
    font-size: 18px;
}
.nav2 ul li{
    font-size: 1.2rem;
}
.nav2 ul li:hover{
    color: green;
    border-bottom: 1.2px solid ;
}
.nav3 .request{
    padding: 15px 30px;
    font-size: 1.08rem;
    border-radius: 40px;
    border:none;
}
.nav3 .request:hover{
    background-color: rgba(47, 146, 47, 0.603);
    color: #fff;
}
.nav4{
    display: none;
}
.content{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
}
.left-side-text{
    width: 40%;
    font-weight: 100;
    padding-left: 6vw;
}
.next-generation{
    margin-top: 20vh;
    font-size: 3.5rem;
}
.info-financial{
    margin-top: 15px;
    font-size: 1.12rem;
    opacity: 0.5;
    width: 80%;
}
.request-invite{
    margin-top: 10%;
    padding: 15px 30px;
    font-size: 1.08rem;
    border-radius: 45px;
    border: none;
}
.rightsideimgs{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(./assets/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    padding-top: 10px;
}
.request-invite:hover{
    background-color: #285E5A;
    color: #fff;
}
.phones{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.page2{
    width: 100%;
    padding:0vw 6vw;
    display: flex;
    gap: 1vh;
    flex-direction: column;
}
.digitalbank{
    height: 14%;
    margin-top: 5%;
}
.digitalbank-text{
    font-size: 3.8rem;
}
.about_info{
    margin-top: 20px;
    opacity: 0.6;
    font-size: 1.1rem;
    width: 44%;
}
.boxs{
    width: 100%;
    margin-top: 8%;
    display: flex;
    gap: 1.8rem;
    justify-content: space-between;
}
.box{
    padding:9vh 0px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000036;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.box p{
    text-align: center;
    opacity: 0.6;
    width: 85%;
}

.box:hover{
    margin-top: -10px;
    transform: translateY(-7px);
}

.page3{
    width: 100%;
    margin-top: 10%;
    padding:0vw 6vw;
}
.articals{
    width: 100%;
    h2{
        font-size: 3.5rem;
        font-weight: 200;
    }
}
.latest{
    width: 100%;
    padding-top: 3.5vh;
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
}
.imgs{
    width: 100%;
    background-color: #f5fafacb;
    border-radius: 7px;
    font-size: 1rem;
    .articles_imgs{
        height: 50%;
        width: 100%;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 7px;
    }
    span{
        display: block;
        padding: 2vh 0px;
        padding-left: 3%;
        font-size: 1.2em;
    }
    h3{
        padding-left: 3%;
        font-size: 1.5rem;
        font-weight: 400;
    }
    p{
        padding: 1.2vh 0px;
        padding-left: 3%;
        font-size: 1.2em;
        opacity: 0.7;
        width: 90%;
    }
    h3:hover{
        color: #30CB80;
    }
}
.footer{
    width: 100%;
    margin-top: 5vh;
    padding:2vw 6vw;
    /* background-color: pink; */
    background: linear-gradient(to right, #1c4f4b, #046b66a0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    ul{
        display: flex;
        list-style: none;
        gap:1rem
    }
}
.aboutme{
    display: flex;
    gap: 8vw;
    ul{
        list-style: none;
        li{
            padding: 5px 0px;
            font-size: 1.2rem;
            text-transform: capitalize;
        }
        li:hover{
            color: #fff;
        }
    }
}

.request2{
        padding: 15px 30px;
        font-size: 1.2rem;
        border-radius: 30px;
        border: none;
        margin-bottom: 1vh;
    }
.request2:hover{
        background-color: #285E5A;
        color: #fff;
}

@media (max-width:1350px) {
    .navigations,.page2,.left-side-text,.page3,.footer{
        padding: 0vh 3vw;
    }
    .digitalbank-text{
        font-size:3rem;
    }
    .about_info{
        font-size: 1.2rem;
    }
    .latest{
        gap: 1rem;
        .imgs{
            span{
                padding: 1vh 0px 1vh 3%;
            }
            h3{
                font-size: 1.4rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .boxs{
        width: 100%;
        display: grid;
        padding-right: 2%;
        grid-template-rows: repeat(2,50%);
        grid-template-columns: repeat(2,50%);
    }
    .latest{
        display: grid;
        grid-template-rows: repeat(2,50%);
        grid-template-columns: repeat(2,50%);
        .imgs .articles_imgs{
            height: 50%;
        }
        .imgs h3{
            font-size: 1.8rem;
            width: 80%;
        }
        .imgs p{
            padding-top: 2vh;
            font-size: 1.2rem;
            width: 75%;
        }
    }
}

@media (max-width:850px) {
    .nav2,.nav3{
        display: none;
    }
    .nav4{
        display: block;
        img{
            height: 20px;
        }
        .close-btn{
            height: 25px;
            display: none;
        }
    }
    .navigations{
        position: relative;
    }
    .active{
        display: block;
        position: absolute;
        right: 0%;
        top: 10vh;
        height: 90vh;
        width: 70%;
        background-color: #ffffff84;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        z-index: 10;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            li{
                font-size: 1.5rem;
            }
        }
    }
    .active_close{
        display: none;
    }
    .nav4 .hame_off{
        display: block;
    }
}
@media (max-width:700px) {
    .content{
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .left-side-text{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rightsideimgs{
        width: 100%;
        height: 50%;
    }
    .next-generation{
        margin-top: 0vh;
        text-align: center;
        font-size: 3rem;
    }
    .info-financial{
        opacity: 0.8;
        font-size: 1.2rem;
        text-align: center;
    }
    .digitalbank-text{
        font-size: 2.3rem;
    }
    .about_info{
        width: 80%;
    }
    .request-invite{
       margin-bottom: 6vh;
    }
    .boxs{
        display: flex;
        flex-direction: column;  
    }
    .latest{
        display: flex;
        flex-direction: column;  
    }
    .footer{
        flex-direction: column;
        padding-top: 3vh;
        .logos{
            padding-bottom: 3vh;
        }
        .aboutme{
            flex-direction: column;
            gap: 0.1px;
        }
        .aboutme ul li{
            text-align: center;
            color: #fff;
            font-size: 1.3rem;
        }
        #request{
            margin-top: 2vh;
            margin-bottom: 3px;
            p{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 12px;
                font-size: 1.2rem;
            }
        }
    }
}
@media (max-width:350px) {
    .next-generation{
        font-size: 2.2rem;
    }
}