* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.main1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80%;
    width: 75%;
    background-color: #F3F4F6;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    border-radius: 25px;
    background-image: url(./our-team-layout-master/resources/Background_decor@2x.png);
    background-repeat: no-repeat;
    position: relative;
}

.box1 {
    grid-column: span 2;
    object-fit: cover;
    object-position: bottom;
    
}

.box2 {
    background-color: #C1B6F8;
    position: relative;
    
}

.box3 {
    background-color: #EDADD2;
    
}

.box4 {
    
}

.box5 {
    background-color: #9CC4F8;
    
}

.box6 {
    background-color: #F8D8B1;
    
}

.box7 {
    background-color: #86E7D4;
    
}
